.Header {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.Header h1 {
    font-family: "poppins", sans-serif;
    font-size: 2.5rem;
    margin-left: 30px;
}

.Header img {
    width: 100px;
    padding-left: 50px;
}

.Header p {
    margin-left: auto;
    margin-right: 50px;
    font-size: 2rem;
    font-weight: lighter;
    opacity: 0.5;
}

main {
    padding: 36px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr;
    gap: 17px;

}


.form-button {
    grid-column: 1/-1;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.form-input {
    padding: 6px;
    border-radius: 5px;
    border: rgb(178, 177, 177) 1px solid;
    outline: none;
}

.meme-image{
    width: 60%;
    margin-top: 50px;
    border: solid 0.5px black;
}

.image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container img{
    width: 100%;
    height: 100%;

}


.top{
    position: absolute;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    top: 30px;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.8px;
}

.bottom{
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    position: absolute;
    bottom: 5px;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.8px;
}

.box{
    border: solid 2px black;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 30px;
}

form input,textarea{
    margin: 5px;
    border-radius: 5px;
    height: 30px;
}


